#footer {
    min-height: 4em;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
  }

  #banner1 {
    min-height: 4em;
    background-color: white;
    text-align: center;
    font-weight: bolder;

  }

  #mainpage1{
      font-family: "Jomhuria", cursive;
      font-family: "PT Sans", sans-serif;
      background-color: #ffffff;
      min-height: 90vh;
  }
  
  #thisisus {
    text-align: center;
    font-weight: bolder;
  }
